@mixin gradient($from, $to){
    background: $from; /* Old browsers */
    background: -moz-linear-gradient(to right, $from, $to); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, $from 0%,$to 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, $from 0%,$to 100%); /* IE10+ */
    background: linear-gradient(left, $from 0%,$to 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin ftGradient(){
  @include gradient(#ff69b4, #0FF); /* Old browsers */
}

@import '~bulma/css/bulma.css';
@import '~bulma/bulma.sass';

body {
  background: lighten(red, 20%);
  color: #000;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  @include ftGradient
}

.button.donate {
  color: #ffffff;
  @include ftGradient;
  border: 0px;
}

.header {
  position: absolute;
  height: 60px;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}


.headerLogotype {
  float: left;
margin-left: 20px;
  margin-top: 11px;
}

.headerLogo {
  margin-top: 10px;
  position: absolute;
  left: 50%;           /* Start at 50% of browser window */
    margin-left: -18px;
}


#headerImg {
  display: block;
  width: 100vw;
  min-height: 900px;
  height: auto;
  background-position: center;
  background-image: url('./images/headerImg.png');
  background-repeat: no-repeat;
}

.header.navButton {
  display: inline;
  float: right;
}
