@import url(~bulma/css/bulma.css);
body {
  background: #ff6666;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(to right, #fff, #000);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fff), color-stop(100%, #000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #fff 0%, #000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #fff 0%, #000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #fff 0%, #000 100%);
  /* IE10+ */
  background: linear-gradient(left, #fff 0%, #000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  /* Old browsers */ }

.button.donate {
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(to right, #fff, #000);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fff), color-stop(100%, #000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #fff 0%, #000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #fff 0%, #000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #fff 0%, #000 100%);
  /* IE10+ */
  background: linear-gradient(left, #fff 0%, #000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  /* Old browsers */ }

.header {
  position: absolute;
  height: 60px;
  width: 100%;
  overflow: hidden;
  background-color: #000; }

.headerLogotype {
  float: left;
  margin-left: 20px;
  margin-top: 11px; }

.headerLogo {
  margin-top: 10px;
  position: absolute;
  left: 50%;
  /* Start at 50% of browser window */
  margin-left: -18px; }

#headerImg {
  display: block;
  width: 100vw;
  min-height: 900px;
  height: auto;
  background-position: center;
  background-image: url("./images/headerImg.png");
  background-repeat: no-repeat; }

.header.navButton {
  display: inline;
  float: right; }
